@import url("./reset.css");

.slideshow {
    max-width: 100%;
    height: 300px;
    position: relative;
    background-position-x: center;
    background-position-y: center;
}
.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width:600px) {
    .slideshow {
        max-width: 100%;
        height: 600px;
        position: relative;
        background-position-x: center;
        background-position-y: center;
    }
}
.slideshow label {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
}
.slideshow label.next{
    right: 10px;
}
.slideshow label.last {
    left: 10px;
}
.slideshow label {
    color: black;
    background-color: white;
}
.slideshow input[type="radio"] {
    display: none;
}
.slideshow input[type="radio"]:checked+figure {
    visibility: visible;
    opacity: 1;
}
.slideshow figure {
    visibility: hidden; 
    opacity: 0;
    transition: all 0.5s;
}
.about {
    margin-bottom: 30px;
}
.about a {
    color: black;
    text-decoration: none;
}
.about a:hover {
    color: black;
    text-decoration: underline;
}
.about-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.about-paragraph {
    flex: 1;
}
@media (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }
}
