@import url("./reset.css");

.checkout-title {
    text-align: center;
    margin: 20px 0;
  }

#cart-container {
  border: 1px solid lightgrey;
  padding: 10px;
  width: 100%;
}

#cart-container img {
  height: 100px;
  margin-bottom: 10px;

}
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.cart-item button {
  background-color: rgb(105, 0, 0);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  height: 40px;
  margin: 10px;
}

.cart-item button:hover {
  background-color: rgb(241, 100, 100);
}

.proceed-checkout {
  display: inline-block;
  color: black;
  background-color: #E8CE5F;
  padding: 15px 20px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 1px 1px 2px lightgrey;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 10px auto;
  width: 50%;
}

.proceed-checkout:hover {
  background-color: #f0d663;
  text-decoration: underline;
  box-shadow: 1px 1px 2px  #74600D; 
  border-color: #74600D;
}

.cart-summary {
  text-align: center;
}

@media (max-width: 800px) {
    .cart-item {
      flex-direction: column;
      align-items: center;
    }

    #cart-container {
      width: 90%;
    }

    #cart-container img {
      height: 150px;
      width: 150px;
    }

    .cart-item p {
      margin: 5px;
    }

    .cart-item button {
      width: 50%;
      text-align: center;
    }

    h3 {
      text-align: center;
    }

}