@import url("./reset.css");
.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
@media (max-width:600px)  {
    .checkout {
        width: 100%;
    }
}
.checkout img {
    display: block;
    margin: 100px 0 auto;
    margin-top: 100px;
    height: auto;
    max-height: 200px;
} 
.checkout h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
hr {
    border:solid 0.5px grey;
    width: 100%;
}
.checkout h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}
.checkout h3 {
    margin-bottom: 0;
}
.checkout a {
    list-style-type: none;
    color: black;
    text-decoration: none;
    padding: 5px;
}
.checkout a:hover {
    text-decoration: underline;
}
