@import url("./reset.css");
@import url("./variables.css");

.checkout-title {
    text-align: center;
    margin: 20px 0;
  }

  #checkout-container {
    margin-top: 30px;
    padding: 20px;
  }

.checkout-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.checkout-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.checkout-item-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.checkout-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
}

.checkout-item-details h3 {
  margin-left: 0;
}


.summary-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}

.back-button {
  display: inline-block;
  color: black;
  background-color: #E8CE5F;
  padding: 10px 40px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 1px 1px 2px grey; 
  transition: background-color 0.3s;
  font-weight: bold;
  width: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.personal-information,
.payment-info {
  grid-column: span 1;
  padding: 20px;
  max-width: 600px;
  background-color: rgb(252, 252, 252);
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.personal-information form,
.payment-info form {
  display: flex;
  flex-direction: column;
}

.personal-information input,
.payment-info input {
  width: 90%;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 1em;
  height: 30px;
}

.icon-container {
  margin-bottom: 20px;
  padding: 5px 0;
  font-size: 2.5em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-terms, .close-privacy {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-terms:hover, .close-privacy:hover, 
.close-terms:focus, .close-privacy:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#checkout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}

#checkout-form a {
  margin-left: 10px;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-group input {
  margin-left: 10px;
  vertical-align: middle;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1rem;
}


@media (max-width:600px) {
  .back-button {
    display: block;
    margin: 20px auto;
  }

  .checkout-item-details h3 {
    font-size: 0.9em;
  }

  .size, .price {
    margin: 0 0 5px 0;
    font-size: 0.8em;
  }

  .checkout-item-img-wrapper {
    height: auto;
  }

  .summary,
  .summary-container {
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }

    .summary-img img{
        max-height: 300px;
    }

    .personal-information {
        order: 1;
        max-width: 300px;
    }
    .payment-info {
        order: 2;
        max-width: 300px;
    }

    #checkout-form {
        order: 3;
    }

    #purchase-button {
      display: block;
      margin: 15px auto;
    }

    #checkout-form {
      margin-left: 0;
    }
}