@import url("./reset.css");

.homepage {
    background-image: url(../assets/twomen.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 430px;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    box-shadow: 2px 2px 5px lightgrey;
    margin-top: 20px;
    padding: 20px;
    z-index: 1;
}
.homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: brightness(60%);
    z-index: 0;
}
@media (max-width:600px) {
    .homepage {
        min-height: 280px;
        background-position: center;
    }
}
.welcome-content {
    position: relative;
    top: 50px;
    left: 70px;
    color: white;
    z-index: 1;
}
.welcome-content h1 {
    color: white;
    font-size: 3em;
    max-width: 600px;
    max-height: 200px;
    margin: 0;
    padding: 0;
}
.welcome-content p {
    font-size: 1.5em;
    color: white;
    max-width: 500px;
    margin-bottom: 40px;
}
@media (max-width:600px) {
    .welcome-content {
        left: 20px;
        top: 20px;
    }

    .welcome-content h1 {
        font-size: 2em;
        max-width: 250px;
    }

    .welcome-content p {
        font-size: 1em;
        max-width: 250px;
        margin-bottom: 20px;
    }
}

.featured {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1400px;
    margin: 50px auto;
    grid-gap: 20px;
}
.featured h2 {
    grid-column: -1/1;
}
.featured h3 {
    grid-column: span 2;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
}
.featured p {
    grid-column: span 2;
     margin: 0;
    padding: 10px;
    font-size: 1em;
}
@media (max-width: 600px){
    .featured {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
    }

    .featured .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.products {
    display: grid;
    grid-template-columns: 1fr auto;    
    border: 1px solid #D9D9D9;
    box-shadow: 1px 1px 4px lightgray;
    padding: 10px;
}
.products:hover { 
    border: 1px solid #8b8b8b;
    box-shadow: 1px 1px 4px rgb(158, 158, 158);
}
.products {
    text-align: center;
}
.products img {
    grid-column: 2;
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 300px;
    object-fit: cover;
}
.products h3,
.products p {
    grid-column: 1;
    font-size: 0.9em;
    margin: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 50px auto;
    grid-gap: 30px;
}
.content h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
.content p {
    width: 100%;
    grid-column: 1;
}
.content img {
    width: 100%;
    grid-column: 2;
}
@media (min-width: 600px) {
    .content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
}




