@import url("./reset.css");

.product-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}
.product-image img {
    max-width: 500px;
    height: auto;
    padding: 40px;
    border: 1px solid lightgray;
}
.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (max-width:600px) {
    .product-container {
        flex-direction: column;
    }
    .product-image img {
        max-width: 80%;
        height: auto;
        padding: 30px;
        border: 1px solid lightgray;
        
    }     
}
.size-buttons {
    display: flex;
    gap: 10px;
    margin: 10px;
    margin-left: 0;
}
.size-button {
    background-color: rgb(240, 240, 240);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 4px lightgray;
}
.size-button:hover {
    background-color: rgb(206, 205, 205);
}
.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.heart-container {
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    border: 1px solid #b8b8b8;                  
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    margin-left: 28px;
}
#heart {
    font-size: 1.5em;
    transition: color 0.2s;
}
#heart:hover {
    color: red;
    fill: red;
}
