@import url("./variables.css");

body {
  font-family: "lato", Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 20px;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}

/*Header*/
header {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: relative;
  padding: 10px;
  font-size: 1em;
  z-index: 15;  
  border-bottom: 1px solid #545F71; 
}
.header-logo {
  max-width: 100px;
  height: auto;
  margin-left: 10px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Navigation constant icon buttons*/
.constant-icons { 
  display: flex;
  gap: 10px;
}
.constant-icons a {
  color: black;
  background-color: #F5F5F5;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 4px grey;
}
.constant-icons a i {
  font-size: 1em;
}

.active {
  font-weight: bold;
}

/* Navigation header links that turns into hamburger menu*/
nav,
#menu-checkbox {
  display: none;
}
#menu-checkbox:checked ~ nav {
  display: block;
}
nav {
  display: none;
  position: absolute;
  background-color: white;
  top: 75px;
  left: 50%;
  right: 0;
  z-index: 15;
  padding: 10px 0;
  box-shadow: 0px 2px 10px grey;
  text-align: right;

}
nav a {
  display: block;
  color: black;
  padding: 5px 20px;
  font-size: 1em;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  margin: 0 5px;
  border-bottom: 1px solid lightgrey;
}
nav a:hover {
  text-decoration: underline;
}
.hamburger-icon {
  font-size: 2.2em;
  cursor: pointer;
  padding: 5px;
}
@media (min-width: 950px) {
  .header-logo {
      max-width: 150px;
  }
  .header-right {
      justify-content: flex-end;
      flex-grow: 1;
  }
  
  .constant-icons {
      margin-right: 20px;
      order: 2;
      padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: static;
    flex-grow: 1;
    order: 1;
    box-shadow: none;
  }
  nav a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #F5F5F5;
      box-shadow: 1px 1px 4px grey;
  }
  .header-nav {
      display: flex;
      justify-content: center;
      gap: 10px;
      position: static;
      flex-grow: 1;
      order: 1;
  }
  .hamburger-icon {
    display: none;
    padding: 10px;
  }
  .active {
    background-color: var(--footer-bg);
    color: white;
    box-shadow: 0px 2px 10px rgb(155, 155, 155);
  }
}



/* Forms */
input,
select,
textarea {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    height: 100%;
}

/* button styles */
.subscribe {
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border-color: grey;
  cursor: pointer;
}
.cta, .cta-small {
  display: inline-block;
  color: black;
  background-color: #E8CE5F;
  padding: 15px 40px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 1px 1px 2px grey; 
  transition: background-color 0.3s;
  font-weight: bold;
}

.cta {
  font-size: 1.3rem;
}

.cta-small {
  font-size: 1rem;
}

.cta:hover, .cta-small:hover {
  background-color: #f8e798;
  box-shadow: 1px 1px 2px  #74600D; 
  border-color: #74600D;
}

@media (max-width:600px) {
  .cta {
      padding: 8px 15px;
      font-size: 0.8em;
  }
}


/* Footer */
footer {
  background-color: #545F71;
  padding: 20px 20px 40px 20px;
  color: white;
  margin-top: 20px;
  text-align: center;
}

footer img {
  width: 250px;
  height: auto;
}

@media (max-width:600px) {
  footer img {
    width: 150px;
    height: auto;
  }
}

footer div {
  margin-top: 20px;
}

footer a {
  color: white;
  margin-right: 10px;
}

footer a:hover {
  color: #E8CE5F;
  font-weight: bold;
}

/*Loading spinner */
#loading {
  border: 8px solid lightgray;
  border-top: 8px solid #545F71;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg); }
}


/*Progress bar (cart/checkout/confirmation pages */
/* Progress bar*/
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 3rem 4rem;
}

.progressbar::before, .progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: #dcdcdc;
  width: 0%;

}

.progress-step {
  width: 35px;
  height: 35px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: rgb(34, 34, 34);
}

.progress-step-active {
  background-color: rgb(2, 75, 2);
  color: white;
}

