@import url("./reset.css");

.image-men {
    background-image: url(../assets/yellowjacket.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    box-shadow: 2px 2px 5px lightgrey;
    margin-top: 20px;
    padding: 20px;
}
.image-women {
    background-image: url(../assets/ladyinyellow2.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    box-shadow: 2px 2px 5px lightgrey;
    margin-top: 20px;
    padding: 20px;
}
@media (max-width:600px) {
    .image-women,
    .image-men {
        min-height: 200px;
    }
}

.featured {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1400px;
    margin: 50px auto;
    grid-gap: 20px;
}

.featured h3 {
    grid-column: span 2;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
}
.featured p {
    grid-column: span 2;
     margin: 0;
    padding: 10px;
    font-size: 1em;
}
@media (max-width: 600px){
    .featured {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
    }

    .featured, .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.products {
    display: grid;
    grid-template-columns: 1fr auto;    
    border: 1px solid #D9D9D9;
    box-shadow: 1px 1px 4px lightgray;
    padding: 10px;
    text-align: center;
}
.products:hover { 
    border: 1px solid #8b8b8b;
    box-shadow: 1px 1px 4px rgb(158, 158, 158);
}

.products img {
    grid-column: 2;
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 300px;
    object-fit: cover;
}
.products h3,
.products p {
    grid-column: 1;
    font-size: 0.9em;
    margin: 5px;
}